body {
  background-color: #c5fad5;
}

#tasksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid black;
  width: 30%;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  border-radius: 5rem;
  align-items: center;
  background-color: #ffffd2;
}

.card:hover {
  background: rgba(175, 202, 202, 0.854);
}

#textInput {
  display: block;
  font-size: 3rem;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 1.5rem;
  background-color: #c5fad5;
  font-size: 22px;
}

#textInput:focus {
  outline: none;
}

#submitBtn {
  display: flex;
  color: black;
  background: rgba(20, 20, 20, 0);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.75rem;
}

#submitBtn:hover {
  cursor: pointer;
}

#btnDiv {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
